#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 100vh;
  width: 100%;
  .sidebar-container {
    -webkit-transition: width .28s;
    transition: width .28s;
    width: 210px !important;
    background-color: #304156;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    .el-menu-item:hover {
      background-color: #263445 !important;
    }
  }
  .main-box{
    margin-left: 210px;
  }
  .el-header{
    padding: 0;
  }
}


